<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static" th:href="@{/css/style.css}">
    <!-- 폰트 어썸 적용 -->
    <script src="https://kit.fontawesome.com/e818618146.js" crossorigin="anonymous"></script>
    <title>게시판</title>
</head>
<body>
   
   <header>
       <div class="login">
           <div class="login_user">
               <img class="profile_img" th:if="${loginMember != null and loginMember.image != null}" th:src="|/user/profile/${loginMember.image}|" alt="">
              <p class ="rank" th:if="${loginMember != null}" th:text="${loginMember.getGrade()}"> Admin </p>
               <a th:text="${loginMember != null ? loginMember.getNickname() : '비회원'}" th:href="@{/user/edit}">
                   비회원
               </a>

               <div class="login_form">
                <a href="#" th:href="@{/user/logout}" th:if="${loginMember != null}" class="login_btn"> 로그아웃 </a>
                <a href="#" th:if="${loginMember == null}" th:href="@{/user/login}" class="login_btn"> 로그인 </a>
                <a href="#" th:href="@{/user/signup}" class="login_btn"> 회원가입 </a>
               </div>
           </div>

       </div>
       
   </header>
   
   <nav>
       <div class="nav">
           <div class="search">
               <form action="/posts" method="get">
                   <i class="fa-solid fa-magnifying-glass"></i>
                   <input type="text" name="search" placeholder="포스트 제목">
                   <button type="submit">검색</button>
               </form>
           </div>
       </div>
   </nav>
   
   <main>
       
   </main>
    <div class="container">
        <table>
            <thead>
                <tr class="post_title">
                    <th class="post_id">번호</th>
                    <th class="post_subject">제목</th>
                    <th class="post_author">글쓴이</th>
                    <th class="post_date" style="font-size: 11px">날짜</th>
                    <th class="post_views">조회</th>
                </tr>
            </thead>
            <tbody class="posts">
                <tr th:each="post : ${posts}">
                    <td class="post_id" th:text="${post.id}" >1</td>
                    <td class="post_title">
                   <div class="post_img">
                       <img class="post_image" th:if="${post.image != null}" th:src="@{/posts/image/{imagename}(imagename=${post.image})}" alt="">

<!--                       <img class="post_image" src="h.png" th:src="@{/posts/image/{imagename}(imagename = ${post.image.getStoreFileName()})}" alt="">-->
                   </div>
                    <a class="post_title_title" href="#" th:href="@{/posts/{postId}(postId = ${post.id})}" th:text="${post.title}">이것은 첫 번째 게시글의 내용입니다.</a>
                    </td>
                    <td class="post_author" th:text="${post.author}">John Doe</td>
                    <td class="modify_date" th:text="${post.createDate}">2024-02-09</td>
                    <td class="page_views" th:text="${post.views}">0</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
    <div class="menu_box">
      
       <div class="post_menu">
           <button style="cursor: pointer" th:onclick="|if (${loginMember == null}) { alert('로그인 후 사용하세요.'); } else { location.href='@{/posts/add}'; }|">글작성</button>
       </div>
       
<!--        <div class="page_btn">-->
<!--          -->
<!--           <a href="#">-->
<!--                <i class="fa-solid fa-chevron-left"></i>-->
<!--           </a>-->
<!--           -->
<!--           <a href="#">-->
<!--                <i class="fa-solid fa-chevron-right"></i>-->
<!--           </a>-->
<!--        </div>-->

    </div>
</body>
</html>
