<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>New Post</title>
    <style>
        /* Custom styles */
        body {
            font-family: 'Roboto', sans-serif;
            background-color: silver;
            color: #fff;
        }

        .title {
            font-size: 20px;
        }

    </style>
</head>
<body>

<div class="title" style="height: 100px; position:relative;">
    <div class="window"
         style="margin: 32px; width: 150px; overflow: hidden; word-break: break-word; position: absolute; right: 230px">
        <div class="title-bar">
            <div class="title-bar-text">
                User Info
            </div>
            <div class="title-bar-controls">
                <button aria-label="Maximize"></button>
                <form action="/user/logout" method="post">
                    <button aria-label="Close"></button>
                </form>
            </div>
        </div>
        <div class="window-body" style="color: black; margin-left:23px;">
            <a style="text-decoration:none;" th:text="${loginMember != null ? loginMember.getName() : '비회원'}"
               th:href="@{/user/{loginId}/edit(loginId=${loginMember?.loginId})}">비회원</a> 님 반갑습니다.
        </div>
    </div>

</div>


<!--
<div class="" style="max-width: 1200px; margin: 20px auto; position: relative;">
    <menu role="tablist" style="">
        <li role="tab" aria-selected="true"><a href="#tabs">Desktop</a></li>
        <li role="tab"><a href="#tabs">My computer</a></li>
        <li role="tab"><a href="#tabs">Control panel</a></li>
        <li role="tab"><a href="#tabs">Devices manager</a></li>
        <li role="tab"><a href="#tabs">Hardware profiles</a></li>
        <li role="tab"><a href="#tabs">Performance</a></li>
    </menu>
    <div class="window" role="tabpanel">
        <div class="window-body">
            <p>the tab content</p>
        </div>
    </div>
</div>
-->

<div class="window" style="max-width: 1200px; margin: 20px auto; position: relative;">
    <form th:action method="post" th:object="${post}" enctype="multipart/form-data">
        <div class="title-bar">
            <div class="title-bar-text">
                <div class="title-bar-text" style="font-size: 20px; margin-left: 5px;"></div>
                <input class= "title-bar-text" type="text" id="postTitle" name="postTitle" th:field="*{title}" placeholder="제목"
                       style="background: none; color: white; font-size: 15px; border: none; border-width: 5; outline: none; width: 1190px; height: 30px;">
            </div>
        </div>

        <div class="author" style="display: flex; font-size: 11px; color: black; margin-left: 5px; margin-top: -5px; overflow: hidden">
            <hr>
        </div>
        <hr style="margin-top: -5px">
        <div class="content" style="position: relative; height: 300px;">
            <textarea id="postContent" name="postContent" th:field="*{content}" style="width: 1200px; height: 300px;" placeholder="콘텐츠 내용을 입력해주세요."></textarea>
        </div>

        <div class="post-button" style="position: absolute; right:0; margin-top: 10px;">
            <button type="submit" style="margin-right: 5px">등록
            </button>
            <button type="button" th:onclick="|location.href='@{/posts}'|"
                    style="margin-right: 5px">취소
            </button>
        </div>
    </form>
</div>

</body>
</html>
